<nav class="navbar navbar-expand navbar-dark  bg-primary" style="position: fixed;width: 100%;">
    <a class="navbar-brand ps-2"><span class="heading" style="color: darkorange;font-family: cursive;">GSM</span><span class="heading"  style="color: aqua;font-family: cursive;">OFFERS</span></a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home"><span routerLinkActive="active">Home</span></a>
            </li>
            <li class="nav-item">

                <a class="nav-link" routerLink="/mobiles"><span routerLinkActive="active">Mobile</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/electronics" routerLinkActive="active"><span routerLinkActive="active">Electronics</span></a>
            </li>
            <!-- <li class="nav-item">
				<a class="nav-link" routerLink="/home" routerLinkActive="active">MyCart</a>
			</li> -->
        </ul>
    </div>
</nav>